<nav class="navbar d-flex flex-row">
  <div class="mr-auto">
    <form class="form-inline">
      <div class="form-group">
          <input [(ngModel)]="searchInput" class="form-control mr-sm-2" type="search" placeholder="Search" name="search" aria-label="Search">
      </div>
        <button (click)="onSearchPressed(searchInput)" class="btn btn-primary" type="submit">Search</button>
     </form>
  </div>
   <button class="btn btn-primary" (click)="navigateToAddCoursePage()">Add course</button>
</nav>
