.course-item {
    border-radius: 10px;
    background: #f7f7f9;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.green-border {
    border: 1px solid green;
}

.blue-border {
    border: 1px solid blue;
}

.top-rated{
    color: #FFD700;
}

.not-rated{
    color: #E6E6E6;
}